﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> _signInManager;
@inject UserManager<IdentityUser> _userManager;
@inject LinkContext _context;
@model PaginatedList<AgregatorLinkow.Models.Link>;


@{
    ViewData["Title"] = "Index";
    var likeInputDisabled = "";
    var likeInputValue = "Like";
}

<h1 class="text-center" style="margin-bottom: 20pt">List of links</h1>

<ol start="@(1 + (Model.PageIndex - 1) * 100)">
    @foreach (var item in Model)
    {
        <li>
            <div>
                <span style="margin-right: 10pt">@Html.DisplayFor(modelItem => item.Name)</span><span>@Html.DisplayFor(modelItem => item.Description)</span>
            </div>
            <div>
                <span><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a></span>
            </div>
            <div style="margin-bottom: 25pt">
                <span style="margin-right: 5pt">Date added:</span><span style="margin-right: 5pt">@Html.DisplayFor(modelItem => item.DateAdded)</span>
                <span style="margin-right: 5pt">|</span><span style="margin-right: 5pt">Likes:</span>
                <span id="@("likes" + item.Id)" style="margin-right: 5pt">@Html.DisplayFor(modelItem => item.Likes)</span>
                @if (_signInManager.IsSignedIn(User))
                {
                    var loggedUserId = _userManager.GetUserId(User);
                    if (String.Equals(loggedUserId, item.UserId))
                    {
                        likeInputDisabled = "disabled";
                        likeInputValue = "Your link";
                    }
                    if (!String.Equals(loggedUserId, item.UserId) && _context.Likes.Any(l => l.UserId == loggedUserId && l.LinkId == item.Id))
                    {
                        likeInputDisabled = "disabled";
                        likeInputValue = "Liked";
                    }

                    <span style="margin-right: 5pt">|</span>
                    <input id="@("input" + item.Id)" type="button" value="@likeInputValue" onclick="Like(@item.Id, @item.Likes)" @likeInputDisabled />

                    likeInputDisabled = "";
                    likeInputValue = "Like";
                }
            </div>
        </li>
    }

</ol>

@{
    var prevDisabled = !Model.PreviousPageExists() ? "disabled" : "";
    var nextDisabled = !Model.NextPageExists() ? "disabled" : "";
}

<div>
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
        Previous page
    </a>
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled" style="float: right">
        Next page
    </a>
</div>

<script type="text/javascript">
    function Like(linkId, linkLikes) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Like", "Links")',
            data: { id: linkId },
            dataType: 'json',
            success: function () {
                document.getElementById("input" + linkId).disabled = true;
                document.getElementById("input" + linkId).value = 'Liked';
                var addLike = linkLikes + 1;
                document.getElementById("likes" + linkId).innerHTML = addLike;
            }
        })
    }
</script>