﻿@model PaginatedList<AgregatorLinkow.Models.Link>;
@inject SignInManager<IdentityUser> _signInManager;

@{
    ViewData["Title"] = "UserLinks";
}

@if (!_signInManager.IsSignedIn(User))
{
    <div style="text-align: center; font-size: 20px">
        Login required.
    </div>
}
else
{
    <h1 class="text-center" style="margin-bottom: 20pt">Links added by @User.Identity.Name</h1>

    <ol start="@(1 + (Model.PageIndex - 1) * 100)">
        @foreach (var item in Model)
        {
            <li>
                <div>
                    <span style="margin-right: 25pt">@Html.DisplayFor(modelItem => item.Name)</span><span>@Html.DisplayFor(modelItem => item.Description)</span>
                </div>
                <div>
                    <span style="margin-right: 25pt"><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a></span>
                </div>
                <div style="margin-bottom: 25pt">
                    <span style="margin-right: 5pt">Date added:</span><span style="margin-right: 5pt">@Html.DisplayFor(modelItem => item.DateAdded)</span>
                    <span style="margin-right: 5pt">|</span><span style="margin-right: 5pt">Likes:</span><span style="margin-right: 5pt">@Html.DisplayFor(modelItem => item.Likes)</span>
                </div>
            </li>
        }

    </ol>

    var prevDisabled = !Model.PreviousPageExists() ? "disabled" : "";
    var nextDisabled = !Model.NextPageExists() ? "disabled" : "";


    <div style="margin-bottom: 20pt">
        <a asp-action="UserLinks" asp-controller="Links" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
            Previous page
        </a>
        <a asp-action="UserLinks" asp-controller="Links" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled" style="float: right">
            Next page
        </a>
    </div>

    <div style="text-align: center">
        <form asp-controller="Links" asp-action="Create" method="get">
            <button class="btn btn-dark" style="align-content: center">Add new link</button>
        </form>
    </div>
}