﻿@model AgregatorLinkow.Models.LoginUser

@{
    ViewData["Title"] = "LogIn";
}

<h1 style="margin-bottom: 20pt">Log in</h1>
<form asp-controller="Account" asp-action="LogIn" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Enter email address</label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" style="width: 50%">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label >Enter password</label>
        <input asp-for="Password" type="password" class="form-control" style="width: 50%">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Log in</button>
</form>