﻿@model AgregatorLinkow.Models.RegisterUser

@{
    ViewData["Title"] = "Register";
}

<h1 style="margin-bottom: 20pt">Create new account</h1>
<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Enter email address</label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" style="width: 50%">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Enter password</label>
        <input asp-for="Password" type="password" class="form-control" style="width: 50%">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" style="width: 50%">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Register</button>
</form>

