﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> _signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgregatorLinkow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Links" asp-action="Index">List of Links</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form class="form-inline" method="get" asp-action="UserLinks" asp-controller="Links">
                                    <label class="text-light" style="margin-right: 25pt">Logged in as @User.Identity.Name</label>
                                    <button type="submit" class="btn btn-dark" style="margin-right: 25pt">My profile</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" method="post" asp-action="LogOut" asp-controller="Account">
                                    <button type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form class="form-inline" method="get" asp-controller="Account">
                                    <button style="margin-right: 25pt" type="submit" class="btn btn-dark" asp-controller="Account" asp-action="Register">Register</button>
                                    <button type="submit" class="btn btn-dark" asp-controller="Account" asp-action="LogIn">Log in</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2020 - AgregatorLinkow - Paweł Ciecierski
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
